* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #00ff88; /* Linha verde separando topo */
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  align-items: center;
  gap: 25px; /* espaço entre Início, Holograma e Login */
  margin-left: 15px; /* desloca o grupo um pouco para a esquerda */
}

nav a {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  height: 90vh; /* antes era 100vh, diminui para mostrar a parte cinza */
}

.texto-esquerda {
  flex: 1;
  padding-right: 40px;
}

.texto-esquerda h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.texto-esquerda p {
  font-size: 20px;
  color: #ccc;
}

#modelo3D {
  flex: 1;
  height: 500px;
}

section {
  padding: 80px 40px;
  background-color: #1a1a1a;
  margin-top: -50px; /* sobe a parte cinza para aparecer um pedaço */
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

section p {
  font-size: 18px;
  color: #ccc;
}

#conteiner3D {
  position: fixed;
  inset: 0;
  z-index: 100;
  pointer-events: none;
}

.btn-iniciar {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #00ff88;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  text-decoration: none;
  transition: background 0.3s ease;
  box-shadow: 0 0 15px rgba(0, 255, 136, 0.6);
}

.btn-iniciar:hover {
  background-color: #00cc6a;
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.9);
}