
html, body {
    overflow: hidden;
    background-color: #f7f7f7;
    font-family: 'Inter', sans-serif;
}



#cena3D {
    position: fixed;
    right: 0;
    bottom: 0.5px; 
    max-width: 84.9vw;
    max-height: calc(100vh - 125px);
    overflow: hidden;
}

/* estilizando barra lateral e barra superior */

header {
    position: fixed;
    width: 100vw;
    right: 0;
    top: 0;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-bottom: none;
    z-index: 1;
}

header img{
    padding-left: 10px;
}


#sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    width: 15vw;
    height: calc(100vh - 50px);
    max-width: 16vw;
    background-color: #f7f7f7;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
    border-right: none;

}

#sidebar h1 ,#sidebar h2{
    padding-left: 5px;
    padding-top: 10px;
    color: #333;
}

#home {
    height: 40px;
}


/* estilizando botões */

#btnOssea, #btnEpiderme, #btnOrgaos, #btnMuscular {
    border-radius: 8px;
    padding: 16px; 
    border: none;
    display: inline-block;
    cursor: pointer;
}


#botoesHeader {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0; /* <-- Remover o padding que estava criando o espaço */
}
  

#botoesCamadas {
    position: fixed;
    top: 0%;
    left: 45%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    box-sizing: border-box;
    gap: 40px;
}
  

#btnHolograma {
    position: absolute;
    height: 100%;
    right: 0;
    width: 150px;
    padding: 0 5px;
    border: none;
    background-color: purple;
    color: white;
    cursor: pointer;
}

.preview-animais img {
  width: 25%;
  height: auto;
  background: transparent; 
  cursor: pointer;
}

  